@font-face {
    font-family: 'Horizon';
    src: url('fonts/horizon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alarm-clock';
    src: url('fonts/alarmclock.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}